.navbar-mobile {
    display: flex;
    flex: row;
    width: 100%;
    height: 80px;
    font-size: 3rem;
    background-color: wheat;
}

.navbar-desktop {
    display: none; /* Ocultar en móvil */
}

.navbar__logo-container {
    display: flex;
    flex-direction: row;
}

.navbar__logo {
    height: 100%;
}

.navbar__logo-image {
    max-height: 100%;
    width: auto;
}

.navbar__company-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 12rem;

    font-size: 1.8rem;

    color: #590202;
    font-weight: 700;
}

.navbar__menu {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    height: 8rem;
}

.navbar__menu-icon {
    display: flex;
    align-self: center;
    margin-right: 10px;
    cursor: pointer;
}

.menu__hamburger-icon {
    height: 4rem;
    width: auto;
}

.navbar__menu {
    position: relative; /* Necesario para el posicionamiento absoluto del menú */
}

.menu-toggle {
    display: none; /* Oculta el checkbox */
}

.navbar__menu-icon {
    cursor: pointer;
}

.navbar__menu-list {
    display: none; /* Oculta el menú por defecto */
    position: absolute;
    top: 100%; /* Posiciona el menú debajo del contenedor */
    right: 0;
    background-color: #f8f2d7;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1000; /* Asegura que el menú esté sobre otros elementos */
}

.navbar__menu-list ul {
    list-style: none;
}

.navbar__menu-list li {
    margin: 0 5px;
}

.navbar__menu-list a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    color: #590202;
}

/* Mostrar el menú cuando el checkbox está marcado */
.menu-toggle:checked ~ .navbar__menu-list {
    display: block;
}

/*-----------------*/

/* Estilos para navbar de escritorio */


/* Media Queries para alternar entre navbar móvil y escritorio */
@media (min-width: 930px) {
    /* Ocultar navbar móvil en pantallas grandes */
    .navbar-mobile {
        display: none;
    }

    /* Mostrar navbar de escritorio en pantallas grandes */
    .navbar-desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header {
        background-color: wheat;
        padding: 1rem;
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;

        padding-right: 10px;
        padding-left: 10px;
    }
    
    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        max-width: 1200px;
    }
    
    .vertical-title {
        font-size: 2.5rem;
        margin-left: 1rem;
        width: 12rem;
    
        color: #590202;
        font-weight: 700;
    }
    
    .logo {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .logo img {
        align-self: center;
        place-items: center;
        justify-self: center;
        max-height: 100px;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        text-align: center;
    }
    
    nav ul li {
        margin: 0 1rem;
    }
    
    nav ul li a {
        color: #590202;
        text-decoration: none;
        font-size: 1.7rem;
        font-weight: bold;
    }
    
    .auth-buttons .btn {
        margin-left: 1rem;
        padding: 0.75rem 1.5rem;
        background-color: #D92D07;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        font-weight: bold;
        font-size: 1.5rem;
    }
    
    .auth-buttons .btn-register {
        background-color: #55A603;
    }
    
    .auth-buttons .btn:hover {
        background-color: #3D1D14;
    }
    
    .auth-buttons .btn-register:hover {
        background-color: #4A7D20;
    }
    
    .menu-toggle {
        display: none;
        background: none;
        border: none;
        font-size: 1.5rem;
        color: #590202;
        cursor: pointer;
    }
}

@media (min-width: 1100px) {
    nav ul {
        gap: 3vw;
    }
}